<form method="post" action="{{ path('sd_sport_delete', {'id': sd_sport.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sd_sport.id) }}">
    <button class="btn">Delete</button>
</form>
