{% extends 'base.html.twig' %}

{% block title %}Edit SdSport{% endblock %}

{% block body %}
    <h1>Edit SdSport</h1>

    {{ include('sd_sport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sd_sport_index') }}">back to list</a>

    {{ include('sd_sport/_delete_form.html.twig') }}
{% endblock %}
