{% extends 'base.html.twig' %}

{% block title %}SdSport index{% endblock %}

{% block body %}
    <h1>SdSport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_sport</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sd_sport in sd_sports %}
            <tr>
                <td>{{ sd_sport.id }}</td>
                <td>{{ sd_sport.nomSport }}</td>
                <td>
                    <a href="{{ path('sd_sport_show', {'id': sd_sport.id}) }}">show</a>
                    <a href="{{ path('sd_sport_edit', {'id': sd_sport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sd_sport_new') }}">Create new</a>
{% endblock %}
