{% extends 'base.html.twig' %}

{% block title %}New SdSport{% endblock %}

{% block body %}
    <h1>Create new SdSport</h1>

    {{ include('sd_sport/_form.html.twig') }}

    <a href="{{ path('sd_sport_index') }}">back to list</a>
{% endblock %}
