{% extends 'base.html.twig' %}

{% block title %}SdSport{% endblock %}

{% block body %}
    <h1>SdSport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sd_sport.id }}</td>
            </tr>
            <tr>
                <th>Nom_sport</th>
                <td>{{ sd_sport.nomSport }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sd_sport_index') }}">back to list</a>

    <a href="{{ path('sd_sport_edit', {'id': sd_sport.id}) }}">edit</a>

    {{ include('sd_sport/_delete_form.html.twig') }}
{% endblock %}
