{% extends 'base.html.twig' %}

{% block title %}Edit SdPersonne{% endblock %}

{% block body %}
    <h1>Edit SdPersonne</h1>

    {{ include('sd_personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sd_personne_index') }}">back to list</a>

    {{ include('sd_personne/_delete_form.html.twig') }}
{% endblock %}
