{% extends 'base.html.twig' %}

{% block title %}SdPersonne index{% endblock %}

{% block body %}
    <h1>SdPersonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Departement</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sd_personne in sd_personnes %}
            <tr>
                <td>{{ sd_personne.id }}</td>
                <td>{{ sd_personne.nom }}</td>
                <td>{{ sd_personne.prenom }}</td>
                <td>{{ sd_personne.departement }}</td>
                <td>{{ sd_personne.mail }}</td>
                <td>
                    <a href="{{ path('sd_personne_show', {'id': sd_personne.id}) }}">show</a>
                    <a href="{{ path('sd_personne_edit', {'id': sd_personne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sd_personne_new') }}">Create new</a>
{% endblock %}
