{% extends 'base.html.twig' %}

{% block title %}New SdPersonne{% endblock %}

{% block body %}
    <h1>Create new SdPersonne</h1>

    {{ include('sd_personne/_form.html.twig') }}

    <a href="{{ path('sd_personne_index') }}">back to list</a>
{% endblock %}
