{% extends 'base.html.twig' %}

{% block title %}SdPersonne{% endblock %}

{% block body %}
    <h1>SdPersonne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sd_personne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sd_personne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ sd_personne.prenom }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ sd_personne.departement }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ sd_personne.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sd_personne_index') }}">back to list</a>

    <a href="{{ path('sd_personne_edit', {'id': sd_personne.id}) }}">edit</a>

    {{ include('sd_personne/_delete_form.html.twig') }}
{% endblock %}
