{% extends 'base.html.twig' %}

{% block title %}Edit SdPratique{% endblock %}

{% block body %}
    <h1>Edit SdPratique</h1>

    {{ include('sd_pratique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sd_pratique_index') }}">back to list</a>

    {{ include('sd_pratique/_delete_form.html.twig') }}
{% endblock %}
