{% extends 'base.html.twig' %}

{% block title %}SdPratique index{% endblock %}

{% block body %}
    <h1>SdPratique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sd_pratique in sd_pratiques %}
            <tr>
                <td>{{ sd_pratique.id }}</td>
                <td>{{ sd_pratique.niveau }}</td>
                <td>
                    <a href="{{ path('sd_pratique_show', {'id': sd_pratique.id}) }}">show</a>
                    <a href="{{ path('sd_pratique_edit', {'id': sd_pratique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sd_pratique_new') }}">Create new</a>
{% endblock %}
