{% extends 'base.html.twig' %}

{% block title %}New SdPratique{% endblock %}

{% block body %}
    <h1>Create new SdPratique</h1>

    {{ include('sd_pratique/_form.html.twig') }}

    <a href="{{ path('sd_pratique_index') }}">back to list</a>
{% endblock %}
