{% extends 'base.html.twig' %}

{% block title %}SdPratique{% endblock %}

{% block body %}
    <h1>SdPratique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sd_pratique.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ sd_pratique.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sd_pratique_index') }}">back to list</a>

    <a href="{{ path('sd_pratique_edit', {'id': sd_pratique.id}) }}">edit</a>

    {{ include('sd_pratique/_delete_form.html.twig') }}
{% endblock %}
